header {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
    font-size: .8em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}