header {
    background-color: hsl(209, 23%, 22%);
    color: #fff;
    font-size: .8em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    transition: .5s ease-in-out all;

    body.darkMode & {
        background-color: #Fff;

        a,i,span {
            color: #000;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span:hover {
            cursor: pointer;
        }
    }

    .fas,.far{
        margin-right: .5em;
    }

    
}