.MainSearch {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;

    &__country {
        input {
            background-color: hsl(209, 23%, 22%);
            border: none;
            outline: none;
            height: 3.2em;
            width: 30em;
            box-shadow: 0 0 20px -10px black;
            padding: 0 1em;
            color: #FFF;
            border-radius: 5px;

            &::placeholder {
                color: #FFF;
            }
        }

    }

    select {
        background-color: hsl(209, 23%, 22%);
        border: none;
        outline: none;
        height: 3.2em;
        width: 15em;
        box-shadow: 0 0 20px -10px black;
        padding: 0 1em;
        color: #FFF;
        border-radius: 5px;
    }

    option {
        font-family: 'Nunito Sans';
        line-height: 2em;
        height: 2em;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
.MainSearch{
    flex-direction: column;

    &__country{

        input {
            margin-bottom: 2em;
            width: 90%;
        }

    }
}

}